/* #.aref-ruqaa-regular {
  font-family: "Aref Ruqaa", serif;
  font-weight: 400;
  font-style: normal;
}

.aref-ruqaa-bold {
  font-family: "Aref Ruqaa", serif;
  font-weight: 700;
  font-style: normal;
} */
* {
  padding: 0;
  margin: 0;
}

:root {
  --temporary-color: #3b354d;
  --bg-interfaces: #0000005c;
  --font-color: aliceblue;
}

/* importnant styling */

[hidden] {
  display: none !important;
}
.notVisible {
  display: none !important;
}
body {
  overflow: hidden;
  background-color: var(--temporary-color);
  font-family: "Aref Ruqaa", serif;
}
/* css fot the start screen */
.startinfo {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  gap: 30px;
}
#mgLogo {
  width: 700px;
  filter: drop-shadow(7px 7px 4px #080808);
}
.crowfacts {
  backdrop-filter: blur(5px);
  position: absolute;
  bottom: 0;
  text-shadow: 2px 2px 2px #000000;

  padding-bottom: 40px;
  color: var(--font-color);
}
#scene {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  z-index: -9999;
  overflow: hidden;
  list-style: none;
  padding: 0;
}

.layer img {
  margin-left: -100px;
  margin-top: -140px;
  width: 120%;
  height: auto;
  pointer-events: none;
}

/* css for the menu screen */
.menu-screen {
  color: var(--font-color);
  padding: 30px;
}
.menu-screen h1 {
  font-size: 5rem;
}
#firstHr {
  width: 650px;
}
.menu-items {
  margin-left: 30px;
  width: 400px;
  margin-top: 300px;
}
.menu-it1 {
  padding: 20px;
}
.menu-it1 h3 {
  position: absolute;
  font-size: 23px;
  font-weight: 400;
  cursor: pointer;
}
.menu-it1 hr {
  margin-top: 20px;
  transform: translateY(25px);
}
#menuPlayBtn {
  font-weight: 800;
}
.menu-it1 h3:hover {
  scale: 1.15;
}
.attunement,
.legacy-contain {
  position: absolute;
  top: 0;
  width: 800px;
  height: 300px;
  border: 1px solid;
  transform: translate(700px, 400px);
}
.attunement h2,
.legacy-contain h2 {
  position: absolute;
  backdrop-filter: blur(10px);
  padding: 5px;
  justify-self: center;
  transform: translateY(-30px);
}

.attunement-contain {
  backdrop-filter: blur(10px);
}
.attunement img {
  cursor: pointer;
}
.contain-nav ul {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  gap: 20px;
  justify-content: space-evenly;
}
.contain-nav ul li {
  list-style: none;
  cursor: pointer;
}
.contain-nav ul li:hover {
  scale: 1.15;
}
.attunement-settings {
  display: none !important;
}
.attunement-settings.visible {
  display: block !important;
}
.attunement-settings {
  justify-self: center;
  display: flex;
  flex-direction: column;
}
.setting {
  display: flex;
  justify-content: space-between;
  width: 400px;
  margin-top: 30px;
}
.settingSlider {
  gap: 5px;
  display: flex;
}
.legacyTitle {
  margin-top: 20px;
  margin-left: 30px;
}
.legacy-info {
  margin-left: 30px;
  margin-top: 10px;
}
.legacyQuote {
  margin-left: 30px;
  margin-top: 10px;
}
/* css for the game itself */
.board-align {
  height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.board {
  display: grid;
  width: 800px;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}
.square {
  height: 100px;
  width: 100px;
  position: relative;
}

.black {
  background-image: url(../imgs/tiles/Wtile.JPG);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.white {
  background-image: url(../imgs/tiles/Btile.JPG);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.letterStyling {
  display: flex;
  width: 800px;
  justify-content: space-around;
}
.bNumberStyling {
  display: flex;
  position: absolute;
  left: 0;
  transform: translate(435px, -15px);
  flex-direction: column;
  height: 800px;
  justify-content: space-around;
}
.piece img {
  width: 95px;
  position: relative;
  z-index: -12;
  pointer-events: none;
}
.piece {
  position: relative;
  z-index: 20;
}
.gameSidebar {
  width: 300px;
  height: 100vh;
  z-index: 10;
  position: absolute;
  color: var(--font-color);
  transition: 0.5s;
  background-color: var(--bg-interfaces);
}
.menu-bnts {
  position: absolute;
  right: 0;
  color: var(--font-color);
  padding: 20px;
}
.sidebarNav {
  display: flex;
  justify-content: space-between;
}
.quit {
  margin: 10px;
  padding: 5px 10px 10px 10px;
  border-radius: 25px;
  font-size: 20px;
  cursor: pointer;
  font-family: "Aref Ruqaa", serif;
}
.sidebarNav > img {
  margin: 20px;
}
#arrowForward {
  display: none;
}
.sideInformation {
  margin-top: 30px;
  margin-left: 20px;
}
.sideInformation h3 {
  margin-top: 20px;
  font-size: 23px;
}
.sideInformation p,
.sideInformation li {
  font-size: 20px;
}
/* .killValues ul{
} */
.killValuesIndex {
  display: flex;
  width: 230px;
  flex-direction: row;
  justify-content: space-between;
}
.killValueTxt {
  transform: translateY(6px);
}
.valueCoins {
  width: 20px;
  transform: translateY(3px);
}
