.speel {
    display: none;
    margin: 0%;
}

.desk {
    display: grid;
    grid-template-columns: repeat(8, 90px);
    grid-template-rows: repeat(8, 74px);
    border: 2px solid black;
    border-radius: 5px;    

    width: 700px;
    height: 700px;
    
    /* background-color:rgba(41, 41, 255, 0.562); */
    background-image: url(../img/ChatGPT_Image_27_nov_2025__12_07_42-removebg-preview.png);
    background-size: cover;
    background-position: center;
    transform: perspective(1100px) rotateX(29deg); 
    transform-origin: center;
}

#terugBtn {
    color: rgba(0, 0, 0, 0.776);
    background-color: rgb(61, 5, 5);
    border: 30px;
    position: absolute;

    border-radius: 8px;
    font-size: 25px;
    height: 30px;
   left: 0px;
    /* font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; */
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}



.light {
    background-color: white;
}

.donker {
    background-color: rgb(98, 68, 15);
}

.cell {
    display: flex;
    justify-content: center;
    align-items: center;
}

.labels {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 20px;
}

.speel {
    position: relative;
   height: 100vh;
    margin: 0 auto;
}

.speel .img {
    position: absolute;
    transform: scale(0.8);
    top: 0;
    opacity: 0.7;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 10;
    pointer-events: none;
}

.speel .desk {
    position: relative;
    width: 500px;
    height: 500px;
    margin-top: 50px;
}
