body{
    background-image: url(../img/shared\ image.jpg);
    background-size:cover;
}
.hoofdpagina{
    border: 1px solid black;
    border-radius: 15px;
    width:350px;
    height: 400px;
    text-align:center;
    background-color: rgba(80, 3, 3, 0.92);
    color: rgb(0, 0, 0);
    justify-self: center;
    margin-top: 150px;
}
.button{
    background-color: rgba(80, 3, 3, 0.92);
    color: rgb(0, 0, 0);
    border-radius: 5px;
    font-size: 30px;
    margin: 20px;
}
body{
    background-color: rgba(127, 12, 12, 0.945);
}
.bI {
    background-color: brown;
    margin-right: 50px;
    height: 30px;
    font-size: 15px;
    width: 30px;
    font-family: 'Times New Roman', Times, serif;
}