body{
    background-image: url(../img/shared\ image.jpg);
    background-size:cover;
}
.hoofdpagina{
    border: 1px solid black;
    border-radius: 15px;
    width:350px;
    height: 400px;
    text-align:center;
    background-color: rgba(80, 3, 3, 0.92);
    color: rgb(0, 0, 0);
    justify-self: center;
    margin-top: 150px;
}
.button{
    background-color: rgba(80, 3, 3, 0.92);
    color: rgb(0, 0, 0);
    border-radius: 5px;
    font-size: 30px;
    margin: 20px;
}
.modal{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    z-index: 1000;
}
.modal-content{
    color: rgb(242, 158, 158);
    background-color: #7c0000;
    padding: 20px 30px;
    border-radius: 10px;
    width: 80%;
    max-width: 600px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    position: relative;
}
.modal-content h2{
    margin-bottom: 15px;
}
.close{
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 28px;
    cursor: pointer;
}
body{
    background-color: rgba(127, 12, 12, 0.945);
}
.bI {
    background-color: brown;
    margin-right: 50px;
    height: 30px;
    font-size: 15px;
    width: 30px;
    font-family: 'Times New Roman', Times, serif;
}