body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(../img/shared\ image.jpg);
    background-size: cover;
}
.a{
    width: 200px;
}
.container{
    margin: 70px;

}
.button {
    background-color: rgba(80, 3, 3, 0.92);
    color: red;
    font-weight: 100;
    border-radius: 8.7px;
    font-size: 30px;
    margin: 20px;

}

.i {
    margin-right: 10px;
    font-size: 15px;
    width: 20px;
    height: 50px;
    font-family: 'Times New Roman', Times, serif;
    justify-self: end;
}

.bI {
    background-color: brown;
    margin-right: 50px;
    height: 30px;
    font-size: 15px;
    width: 30px;
    font-family: 'Times New Roman', Times, serif;
}

.modal{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    justify-content: center;
    align-items: center;    
    z-index: 1000;
}
.modal-content{
    color: rgb(242, 158, 158);
    background-color: #7c0000;
    padding: 20px 30px;
    border-radius: 7px;
    width: 80%;
    max-width: 600px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    position: relative;
}
.close{
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 28px;
    cursor: pointer;
}
.eenTerug{
    background-color: rgb(103, 21, 21);
    color: red;
    transform: rotate(180deg);
    border-radius: 9px;
    width: 65px;
    height: 35px;
}
.redo-btn{
    background-color: rgb(103, 21, 21);
    color: red;
    border-radius: 9px;
    width: 65px;
    height: 35px;
}

/* .material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
} */
.board {
margin-top: px;
    width: 541px;
    height: 530px;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
    /* margin-left: 35.7%; */
    margin-left: 33.6%;
}
.img{
    margin-top: -36px;
    height: 620px;
    width: 630px;
    margin-left: 30.9%;
}
.img, .board{
    position:absolute;
}
.square {
    width: 60px;
    height: 60px;
    /* background: transparent; */
    position: relative;
}
.piece.white{
    background-image: url(../img/light-piece.jpg);
}
.piece.black{
    background-image: url(../img/dark-piece.jpg);
}

.piece {
    background-size: cover;
    background-position: center;
    cursor: pointer;
    width: 55px;
    height: 55px;
    /* object-fit: contain; */
    /* display: block; */
    margin: auto;
    margin-top: 5px;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 1;
}
.piece.king{
    margin-top: 0;
    width: 70px;
    height: 80px;
}
.selected{
    outline: 2px solid rgb(255, 63, 63);
    border-radius: 7px;
}
.game-status{
    margin-top: 20px;
    font-size: 1.5em;
    background-color: rgba(107, 107, 107, 0.852);
    color: rgba(255, 255, 255, 0.733);
    width: 150px;
}
.restart-btn{
    margin-top: 10px;
    margin-left: 20px;
    margin-bottom: 10px;
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    color: rgb(255, 0, 0);
    background-color: rgb(71, 7, 7);
    border-radius: 11.5px;
}
.tellers {
    background-color: rgba(61, 14, 14, 0.692);
    color: rgba(255, 58, 58, 0.733);
    font-size: 20px;
    width: 200px;
}
footer{
    margin: 200px;
}