body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(../imgSofiia/sharedImage.jpg);
    background-size: cover;
}
.a{
    width: 200px;
}
.container{
    margin: 70px;

}
.button {
    background-color: rgba(80, 3, 3, 0.92);
    color: red;
    font-weight: 100;
    border-radius: 8.7px;
    font-size: 30px;
    margin: 20px;
    border: 1px solid rgb(55, 6, 6);
}

.i {
    margin-right: 10px;
    font-size: 15px;
    width: 20px;
    height: 50px;
    font-family: 'Times New Roman', Times, serif;
    justify-self: end;
}

.bI {
    background-color: brown;
    margin-right: 50px;
    height: 30px;
    font-size: 15px;
    width: 30px;
    border-radius: 15px;
    border: 1px solid darkred;
    font-family: 'Times New Roman', Times, serif;
}

.modal{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    justify-content: center;
    align-items: center;    
    z-index: 1000;
}
.modal-content{
    color: rgb(242, 158, 158);
    background-color: #7c0000;
    padding: 20px 30px;
    border-radius: 7px;
    width: 80%;
    max-width: 600px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    position: relative;
}
.close{
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 28px;
    cursor: pointer;
}
.eenTerug{
    background-color: rgb(103, 21, 21);
    color: red;
    transform: rotate(180deg);
    border-radius: 9px;
    width: 65px;
    height: 35px;
    border: 1px solid rgb(55, 6, 6);
}
.redo-btn{
    background-color: rgb(103, 21, 21);
    color: red;
    border-radius: 9px;
    width: 65px;
    height: 35px;
    border: 1px solid rgb(55, 6, 6);
}

/* .material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
} */
 #board-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-top: 310px;
    margin-left: 50px
 }
 #board-wrapper.rotated{
    transform: rotate(180deg);
 }
 #board-wrapper.rotated .piece{
    transform: rotate(180deg);
 }

.board {
    width: 541px;
    height: 530px;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
    position: relative;
    margin-right: 50px;
    margin-bottom: 40px;
    /* position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 215px; */
}
.rotate-board{
    width: 541px;
    height: 530px;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 5px;
}
 .deel2{
    position: absolute;
    left: 70px;
    top: 150px;
 }
.img{
    height: 620px;
    width: 630px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 185px;
}
.img.rotated {
    top: 200px;
    margin-left: 30px;
}
.img, .board{
    position:absolute;
}
.square {
    /* width: 60px;
    height: 60px; */
    /* background: transparent; */
    /* position: relative; */
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.piece.white{
    background-image: url(../imgSofiia/light-piece.jpg);
}
.piece.black{
    background-image: url(../imgSofiia/dark-piece.jpg);
}

.piece {
    background-size: cover;
    background-position: center;
    cursor: pointer;
    width: 55px;
    height: 55px;
    /* object-fit: contain; */
    /* display: block; */
    margin: auto;
    z-index: 1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.piece.king{
    margin-top: 0;
    width: 70px;
    height: 80px;
}
.selected{
    outline: 2px solid rgb(255, 63, 63);
    border-radius: 7px;
}
.game-status{
    margin-top: 20px;
    font-size: 1.5em;
    background-color: rgba(107, 107, 107, 0.852);
    color: rgba(255, 255, 255, 0.733);
    width: 150px;
    border-radius: 10px;
    padding-left: 20px;
}
.restart-btn{
    margin-top: 10px;
    margin-left: 20px;
    margin-bottom: 10px;
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    color: rgb(255, 0, 0);
    background-color: rgb(71, 7, 7);
    border-radius: 11.5px;
    border: 1px solid rgb(55, 6, 6);
}
.tellers {
    background-color: rgba(61, 14, 14, 0.692);
    color: rgba(255, 58, 58, 0.733);
    font-size: 20px;
    width: 170px;
    border-radius: 15px;
    padding-left: 17px;
    padding-bottom: 2px;
    padding-top: 2px;
    margin-top: 10px;
}
footer{
    margin: 200px;
}
@keyframes slideDown {
    from {
        top: -290px;
    }
    to {
        top: 50%;
    }
}
.h2{
    width: 90px;
}
.eindScherm{
    background-color: #7c0000;
    border-radius: 10px;
    display: none;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    width: 400px;
    height: 500px;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}
.eindScherm.show{
    display: flex;
    animation: slideDown 1.8s ease-out forwards;
    justify-content: center;
    transform: translateY(-50%);
}
.eindScherm{
    transition: transform 0.6s ease;
    transform-origin: center center;
    transform-style: preserve-3d;
}
.eindScherm.flipped{
    transform: translateX(-50%) rotateX(180deg);
    margin-top: -250px;
    margin-left: 150px;
}
/* .eindScherm, .eindScherm > * {
    backface-visibility: hidden;
} */
.nog{
    width: 100px;
    padding-right: 100px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 900;
    backface-visibility: hidden;
    margin-right: -10px;
    padding: 10px 60px;
}
.h2{
    width: 200px;
    position: absolute;

}
.result{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 200;
    width: 50px;
    height: 100px;
    padding: 100px;
    margin-left: 20px;
    border: 2px solid rgb(66, 8, 8);
    border-radius: 10px;
    backface-visibility: hidden;
    transform: rotateX(180deg);
    position: absolute;
    font-weight: 900;

}
.p{
    text-align: center;
    position: absolute;
}
#capture-effect{
    position: fixed;
    inset: 0;
    display: none;
    justify-content: center;
    align-items: flex-start;
    padding-top: 80px;
    background: rgba(0, 0, 0, 0.25);
    z-index: 9999;
    pointer-events: none;
}
#capture-effect img{
    width: 100%;
    transform: translateY(-1100px);
    animation: pop 0.1s ease-out;
}
@keyframes pop{
    from{
        transform: scale(0.5);
        opacity: 0;
    }
    to{
        transform: scale(1);
        opacity: 1;
    }
}
.board {
    width: 541px;
    height: 530px;
}

.square {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
