body {
  margin: 0;
  padding: 0;
  background-image: url(https://png.pngtree.com/thumb_back/fw800/background/20230407/pngtree-kitchen-cartoon-illustration-background-image_2159895.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fail {
  background-color: rgba(255, 200, 150);
  padding: 40px;
  border-radius: 25px;
  text-align: center;
  width: 400px;
  max-width: 450px;
}

.fail-icon {
  width: 80px;
  margin-bottom: 15px;
}

.fail h2 {
  font-size: 30px;
  margin-bottom: 10px;
}

.fail p {
  font-size: 18px;
  margin-bottom: 25px;
}

.restart {
  background-color: #ff8c8c;
  font-size: 16px;
  padding: 12px;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.restart:hover {
  background-color: #ff5c5c;
  transform: scale(1.05);
}