* {
  margin: 0px;
  padding: 0px;
}

body {
  background-size: cover;
  background-position: center;
  background-image: url(https://png.pngtree.com/thumb_back/fw800/background/20230407/pngtree-kitchen-cartoon-illustration-background-image_2159895.jpg);
  height: 100vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  flex-direction: column;
  gap: 20px;
} 

.fail {
  background: rgb(219, 147, 97);
  width: 85%;
  max-width: 600px;
  padding: 30px 40px;
  border-radius: 20px;
  box-shadow: 0 4px 20px rgba(0,0,0,0.5);
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}